LOCAL_DOMAIN=site1.example.com
LAN_NAME=SERVER_VLAN
THIS_IP=192.168.16.55

HOMARR_TAG=latest
SECRET_ENCRYPTION_KEY= # generate with `openssl rand -hex 32`
NFS_SERVER=192.168.16.3
NFS_PATH=/mnt/pool1/portainer
